<div class="ui search"  [ngClass]="{ loading: isLoading }">
  <div class="ui icon input">
    <input
    (keyup)="updateSearchTerm($event); keyup.emit(searchTerm.value)"
    #searchTerm class="prompt" type="text" placeholder="Search...">
    <i class="search icon"></i>
  </div>
  <div class="results transition" [ngClass]="{ visible: foundStations.length }"> <p>{{foundStations.length}}</p>
      <a href (click)="resetStations(); stationSelected.emit(station); false;" class="result" *ngFor="let station of foundStations">
        <div class="content">
          <div class="title" >{{ station.DeviceName }}</div>
        </div>
      </a>
    </div>
</div>
