.sebm-google-map-container {
  height: 300px;
}

/deep/ .detailContainer {
  margin: 15px;
}

/deep/ app-station-detail {
  width: -webkit-fill-available !important;
}

.mapContainer{
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

.stationDetailActionContainer{
  width: 80%;
  height: 50px;
  background: #3f51b5;
  margin: auto;
  padding: 10px;
  color:white;
}

.detailsActionOne{
  width: 50%;
  height: 50px;
  float: left;
  text-align: center;
}

.detailsActionTwo{
  float:left;
  width: 50%;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

/deep/ .mat-checkbox-inner-container  {
  margin-bottom: 3px !important;
  margin-right: 9px !important;
  margin-top: 1px !important;
}

/deep/ .basechart{
  height: 250px !important;
}

