<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" color="primary"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
      <a mat-list-item [routerLink]="['/stations']" routerLinkActive="router-link-active" >Stations</a>
      <a mat-list-item [routerLink]="['/addStation']" routerLinkActive="router-link-active" >Add Station</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>wetr-web</span>
      <app-station-search (stationSelected)="stationSelected($event)" class="column"></app-station-search>

      <button id="qsLoginBtn"
        mat-raised-button
        class="btn btn-primary my-2 my-sm-0 loginbutton"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()" type="button">
          Log In
      </button>

      <button id="qsLogoutBtn"
        mat-raised-button
        class="btn btn-primary my-2 my-sm-0 loginbutton"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()" type="button">
          Log Out
      </button>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
